---
layout: default
---

<div class="home">

  {% comment %}
  <h1 class="page-heading">Posts</h1>
  {% endcomment %}

  <ul class="category-list">
    <li>
      <h1>Contests</h1>
      <ul class="post-list">
          <li>
            <h2>
              <a class="post-link" href="/telegram/index.html">Telegram Contest March 2019</a>
            </h2>
          </li>
      </ul>
    </li>
  </ul>
  <hr style="margin: 50px 0; border: none; border-top: 1px solid #e8e8e8"/>

  <ul class="category-list">
    {% for category in site.categories %}
    <li>
      <h1>{{ category[0] }}</h1>
        <ul class="post-list">
          {% assign categories = category[1] | sort: 'name'  %}
          {% for post in categories %}
            <li>
              {% comment %}
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              {% endcomment %}
              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
          {% endfor %}
        </ul>
    </li>
    {% endfor %}

  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
